{extend name='table'}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <div class="layui-tab-content">
        {include file='master/index_search'}
        <table id="UserTable" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
    </div>
</div>

<script>
    $(function () {
        $('#UserTable').layTable({
            even: true, height: 'full',
            sort: {field: 'sort desc,id', type: 'desc'},
            cols: [[
                {field: 'id', hide: true},
                {checkbox: true, fixed: true},
                {field: 'headimg', title: '头像', width: 60, align: 'center', templet: '<div>{{-showTableImage(d.headimg,true,"xs")}}</div>'},
                {field: 'nickname', title: '用户昵称', minWidth: 100, align: 'center', templet: '<div>{{d.nickname||"-"}}</div>'},
                {field: 'balance_total', title: '充值余额', minWidth: 100, align: 'center', templet: '<div>{{d.extra.balance_total||"-"}}</div>'},
                {field: 'balance_lock', title: '锁定余额', minWidth: 100, align: 'center', templet: '<div>{{d.extra.balance_lock||"-"}}</div>'},
                {field: 'balance_usable', title: '剩余余额', minWidth: 100, align: 'center', templet: '<div>{{d.extra.balance_usable||"-"}}</div>'},
                {field: 'balance_used', title: '支出余额', minWidth: 100, align: 'center', templet: '<div>{{d.extra.balance_used||"-"}}</div>'},
                {field: 'integral_total', title: '充值积分', minWidth: 100, align: 'center', templet: '<div>{{d.extra.integral_total||"-"}}</div>'},
                {field: 'integral_total', title: '锁定积分', minWidth: 100, align: 'center', templet: '<div>{{d.extra.integral_total||"-"}}</div>'},
                {field: 'integral_total', title: '剩余积分', minWidth: 100, align: 'center', templet: '<div>{{d.extra.integral_total||"-"}}</div>'},
                {field: 'integral_used', title: '支出积分', minWidth: 100, align: 'center', templet: '<div>{{d.extra.integral_used||"-"}}</div>'},
                {toolbar: '#toolbar', title: '操作面板', align: 'center', minWidth: 150, fixed: 'right'}
            ]]
        });
    });
</script>


<script type="text/html" id="toolbar">
    <!--{if auth("balance/add")}-->
    <a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('balance/add')}?unid={{d.id}}" data-title="充值账户余额">余 额</a>
    <!--{/if}-->
    <!--{if auth("integral/add")}-->
    <a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('integral/add')}?unid={{d.id}}" data-title="充值账户积分">积 分</a>
    <!--{/if}-->
</script>
{/block}
